<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Forgot Password</title>
  <style>
    /* Add your email-specific CSS styles here */
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
    }
    .btn-primary {
      background-color: #007bff;
      color: #ffffff;
    }
  </style>
</head>
<body>
  <!-- Email Content -->
  <p>Hi <%= firstName %>,</p>
  <p>Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: <%= url %>.</p>
  <p>(Website for this action not yet implemented.)</p>

  <table class="btn btn-primary" role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td align="left">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td>
                  <a href="<%= url %>" target="_blank">Reset your password</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <p>If you didn't forget your password, please ignore this email!</p>
</body>
</html>
